$color-pink: #ff70d9;
$color-lime: #ebff00;
$color-navy: #304571;
$color-black: #000000;
$color-white: #ffffff;

$gradient-primary: linear-gradient(98.25deg, #ebff00 18.56%, #ff70d9 76.02%);

$dark-gradient: linear-gradient(
  -90deg,
  rgba(0, 0, 0, 0) -0.52%,
  rgba(15, 20, 32, 0.79) 99.48%
);
