.header {
  background: $color-black;
  height: 80px;

  &__menu {
    display: flex;
    align-items: center;
    gap: 0 56px;
  }

  &__menu-list {
    display: flex;
    gap: 0 56px;
  }

  &__menu-item {
    color: $color-white;

    a {
      font-weight: 700;
      color: white;
      font-size: 18px;
      line-height: 21.6px;

      &:hover {
        background: $gradient-primary;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  &__menu-cart {
    color: $color-white;

    &:hover svg path {
      fill: url(#cart-gradient);
    }

    svg {
      width: 24px;
      height: 20.77px;
      transition: fill 0.3s ease;
    }
  }
}

.header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

@media (max-width: 1024px) {
  .header {
    &__logo {
      width: 71.1px;
      height: 24px;
    }
  }
}

@media (max-width: 576px) {
  .header {
    height: 48px;
  }
}
